 body{
       background: aqua;
       text-align: center;
        }
 a{
  text-decorations:none;
 }


 a:hover{
 color: #5EFF33;
 background:white;
 font-size:
 }


h1{
background: #5EFF33;
border-radius: 5px;


}
form{
alignment:center;
}


centred form- vertical alignment
hover, colour, shadowing, styling

